<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="public/base :: common_header(~{::title},~{::link},~{})">
    <title>About</title>
    <link rel="stylesheet" th:href="@{/css/about.css}">
</head>
<body th:replace="public/base :: common_body(~{::main},~{})">
    <main role="main" class="container">
        <h1>About</h1>
        <p>
            Quadrantology was created in order to provide easier viewing and access to the quadrant criteria introduced
            by this season as a new way to evaluate teams for the NCAA Tournament. The official team sheets can be found
            <a href="https://extra.ncaa.org/solutions/rpi/SitePages/Home.aspx">here</a> in a PDF. As of now, the RPI calculated here reflects the most-recently-completed day's games.
        </p>
        <p>
            If you have any suggestions or would like to help with the site in any way, contact me at
            <a href="mailto:admin@cbbquadrantology.com">admin@cbbquadrantology.com</a>.
        </p>
    </main>
</body>
</html>