.conf-title {
    text-align: center;
}

.conf-table > tbody > tr > td {
    padding: 0;
}

.conf-table > thead > tr > th {
    padding: 0;
}

.rpi-header {
    text-align: center;
}

.team-header {
    text-align: left;
}

.wins-header {
    text-align: center;
}

.losses-header {
    text-align: center;
}

.rpi-rank-col {
    text-align: center;
}

.wins-col, .losses-col {
    text-align: center;
}