.rpi-table > tbody > tr > td, .rpi-table > thead > tr > th {
    padding: 1px;
}

.rpi-header, .rpi-rank-header, .rpi-rank-col, .site-col, .wins-header, .losses-header,
.rpi-col, .wins-col, .losses-col, .quadrant-col, .quadrant-header, .win-pct-header, .win-pct-col {
    text-align: center;
}

.team-header {
    text-align: left;
}

.rpi-rank-col {
    width: 10ch;
}

.quadrant-col, .wins-col, .losses-col {
    width: 5ch;
    min-width: 5ch;
}