#quad-one-wins-div, #quad-two-wins-div {
    height: 250px;
}

.rpi-table > tbody > tr > td, .rpi-table > thead > tr > th {
    padding: 1px;
}

.rpi-header, .rpi-rank-header, .rpi-rank-col, .site-col, .wins-header, .losses-header,
.rpi-col, .wins-col, .losses-col, .quadrant-col, .quadrant-header, .win-pct-header, .win-pct-col, .sos-col, .sos-header {
    text-align: center;
}

.team-header {
    text-align: left;
}

.rpi-rank-col {
    width: 10ch;
}

.quadrant-col, .wins-col, .losses-col {
    width: 5ch;
    min-width: 5ch;
}

.quad-one-bar, .quad-two-bar {
     fill: steelblue;
}

.axis--x path {
    display: none;
}

#quad-one-wins-div, #quad-two-wins-div {
    padding: 0;
}

.graph-title {
    text-align: center;
}