#team-title {
    display: inline;
}

#rpi-rank {
    display: inline;

}#overall-record {
    display: inline;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.rpi_rank {
    display: inline-block;
    text-align: left;
    width: 3ch;
}

.game-site {
    display: inline-block;
    text-align: right;
}

p {
    margin-bottom: 0;
}

.rpi-ranges {
    border-bottom: solid thin black;
    text-align: center;
}

.quadrant-title {
    text-align: center;
}

.quadrant-table > tbody > tr > td {
    padding: 0;
}

.quadrant-table > thead > tr > th {
    padding: 0;
}

.rpi-header {
    text-align: center;
}

.team-header {
    text-align: left;
}

.site-header {
    text-align: center;
}

.rpi-rank-col {
    text-align: center;
}

.site-col {
    text-align: center;
}