<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout_site"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Quadrantology</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <script th:src="@{/webjars/d3js/4.10.2/d3.min.js}" type="text/javascript"></script>
</head>
<body>
    <div layout:fragment="content">
        <div id="d3-row" class="row">
            <div class="col-md-6">
                <h4 class="graph-title">Q1 Wins</h4>
                <div id="quad-one-wins-div"></div>
            </div>
            <div class="col-md-6">
                <h4 class="graph-title">Q1 + Q2 Wins</h4>
                <div id="quad-two-wins-div"></div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped rpi-table">
                    <thead>
                    <tr>
                        <th class="rpi-rank-header" scope="col">RPI Rank</th>
                        <th scope="col">Team</th>
                        <th class="conference-header" scope="col">Conference</th>
                        <th class="sos-header">SOS</th>
                        <th class="wins-header" scope="col">W</th>
                        <th class="losses-header" scope="col">L</th>
                        <th class="win-pct-header" scope="col">Win %</th>
                        <th class="quadrant-header" scope="col">Q1</th>
                        <th class="quadrant-header" scope="col">Q2</th>
                        <th class="quadrant-header" scope="col">Q3</th>
                        <th class="quadrant-header" scope="col">Q4</th>
                        <th class="rpi-header" scope="col">RPI</th>
                    </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="team, iterStat : ${teams}" th:object="${team}">
                            <tr>
                                <td class="rpi-rank-col" th:text="${team.rpiRank}"></td>
                                <td class="team-col"><a th:href="@{|/team/${team.urlName}|}" th:text="*{name}"></a></td>
                                <td class="conference-col" th:text="*{conference.name}"></td>
                                <td class="sos-col" th:text="*{strengthOfScheduleRank}"></td>
                                <td class="wins-col" th:text="*{wins}"></td>
                                <td class="losses-col" th:text="*{losses}"></td>
                                <td class="win-pct-col" th:text="*{#numbers.formatDecimal(winPct, 1, 6)}"></td>
                                <td class="quadrant-col" th:text="*{quadOneWins + '-' + quadOneLosses}"></td>
                                <td class="quadrant-col" th:text="*{quadTwoWins + '-' + quadTwoLosses}"></td>
                                <td class="quadrant-col" th:text="*{quadThreeWins + '-' + quadThreeLosses}"></td>
                                <td class="quadrant-col" th:text="*{quadFourWins + '-' + quadFourLosses}"></td>
                                <td class="rpi-col" th:text="*{#numbers.formatDecimal(rpi, 1, 6)}"></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </div>

        <script th:inline="javascript">

            var quadOneTeams = [[${topTenQuadOneTeams}]];
            var quadOnePlusTwoTeams = [[${topTenQuadOnePlusTwoTeams}]];

            if (parseInt(d3.select("#quad-one-wins-div").style("width")) < 470) {
                quadOneTeams = quadOneTeams.slice(0, 5);
                quadOnePlusTwoTeams = quadOnePlusTwoTeams.slice(0, 5);
            }

            var quadOneGraph = new QuadOneGraph(quadOneTeams, "#quad-one-wins-div");
            var quadTwoGraph = new QuadTwoGraph(quadOnePlusTwoTeams, "#quad-two-wins-div");

            window.onload = function ()
            {
                quadOneGraph.create();
                quadTwoGraph.create();
            };

            d3.select(window).on("resize", resize);

            function resize()
            {
                quadOneGraph.resize();
            }

            function QuadOneGraph(teams, divId) {
                var teamsSize,
                    maxWins,
                    minWins,
                    width,
                    height,
                    margin = {top: 20, right: 20, bottom: 30, left: 40},
                    barWidth,
                    xScale,
                    yScale,
                    yAxis,
                    graph,
                    bars,
                    numberLabels;

                this.create = function () {
                    teamsSize = teams.length;
                    maxWins = d3.max(teams, function (d) {
                        return d.quadOneWins;
                    });
                    minWins = d3.min(teams, function (d) {
                        return d.quadOneWins;
                    });

                    var graphWidth = parseInt(d3.select(divId).style("width"));
                    var graphHeight = parseInt(d3.select(divId).style("height"));

                    width = graphWidth - margin.left - margin.right;
                    height = graphHeight - margin.top - margin.bottom;

                    xScale = d3.scaleBand()
                        .domain(teams.map(function (d) {
                            return d.name;
                        }))
                        .rangeRound([0, width]).padding(0.1);
                    yScale = d3.scaleLinear()
                        .domain([0, maxWins])
                        .rangeRound([height, 0]);

                    graph = d3.select(divId)
                        .append("svg")
                        .attr("id", "quad-one-wins-graph")
                        .attr("width", graphWidth)
                        .attr("height", graphHeight);

                    var g = graph.append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                    // create x-axis
                    g.append("g")
                        .attr("class", "axis axis--x")
                        .attr("transform", "translate(0," + height + ")")
                        .call(d3.axisBottom(xScale));

                    // create y-axis
                    yAxis = g.append("g")
                        .attr("class", "axis axis--y")
                        .call(d3.axisLeft(yScale).ticks(10))
                        .append("text")
                        .attr("transform", "rotate(-90)")
                        .attr("y", 6)
                        .attr("dy", "0.71em")
                        .attr("text-anchor", "end")
                        .text("Wins");

                    // create bars
                    bars = g.selectAll("rect")
                        .data(teams)
                        .enter()
                        .append("rect")
                        .attr("class", "quad-one-bar")
                        .attr("x", function (d) {
                            return xScale(d.name);
                        })
                        .attr("y", function (d) {
                            return yScale(d.quadOneWins);
                        })
                        .attr("width", xScale.bandwidth())
                        .attr("height", function (d) {
                            return height - yScale(d.quadOneWins);
                        });

                    graph.selectAll(".axis")
                        .style("font-size", "8px");

                    this.resize = function () {
                        // Find new dimensions
                        width = parseInt(d3.select(divId).style("width"));
                        height = parseInt(d3.select(divId).style("height"));

                        barWidth = (width / 2) / teamsSize;

                        graph
                            .attr("width", width);

                        yScale = d3.scaleLinear()
                            .domain([minWins * 0.90, maxWins])
                            .range([0, height]);

                        yAxis.scale(yScale);

                        bars
                            .data(teams)
                            .attr("width", barWidth)
                            .attr("x", function (d, i) {
                                return (2 * barWidth * i)
                            })
                            .attr("height", function (d) {
                                return yScale(d.quadOneWins)
                            });

                        numberLabels
                            .data(teams)
                            .attr("y", function (d) {
                                return height - (yScale(d.quadOneWins) - 10)
                            })
                            .attr("x", function (d, i) {
                                return (2 * barWidth * i) + 5;
                            });
                    }
                };
            }

            function QuadTwoGraph(teams, divId)
            {
                var teamsSize,
                    maxWins,
                    minWins,
                    width,
                    height,
                    margin = {top: 20, right: 20, bottom: 30, left: 40},
                    barWidth,
                    xScale,
                    yScale,
                    yAxis,
                    graph,
                    bars,
                    numberLabels;

                this.create = function ()
                {
                    teamsSize = teams.length;
                    maxWins = d3.max(teams, function (d) { return d.quadOneWins + d.quadTwoWins; });
                    minWins = d3.min(teams, function (d) { return d.quadOneWins + d.quadTwoWins; });

                    var graphWidth = parseInt(d3.select(divId).style("width"));
                    var graphHeight = parseInt(d3.select(divId).style("height"));

                    width = graphWidth - margin.left - margin.right;
                    height = graphHeight - margin.top - margin.bottom;

                    xScale = d3.scaleBand()
                        .domain(teams.map(function (d) { return d.name; }))
                        .rangeRound([0, width]).padding(0.1);
                    yScale = d3.scaleLinear()
                        .domain([0, maxWins])
                        .rangeRound([height, 0]);

                    graph = d3.select(divId)
                        .append("svg")
                        .attr("id", "quad-two-wins-graph")
                        .attr("width", graphWidth)
                        .attr("height", graphHeight);

                    var g = graph.append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                    // create x-axis
                    g.append("g")
                        .attr("class", "axis axis--x")
                        .attr("transform", "translate(0," + height + ")")
                        .call(d3.axisBottom(xScale));

                    // create y-axis
                    yAxis = g.append("g")
                        .attr("class", "axis axis--y")
                        .call(d3.axisLeft(yScale).ticks(10))
                        .append("text")
                        .attr("transform", "rotate(-90)")
                        .attr("y", 6)
                        .attr("dy", "0.71em")
                        .attr("text-anchor", "end")
                        .text("Wins");

                    // create bars
                    bars = g.selectAll("rect")
                        .data(teams)
                        .enter()
                        .append("rect")
                        .attr("class", "quad-two-bar")
                        .attr("x", function (d) {
                            return xScale(d.name);
                        })
                        .attr("y", function (d) {
                            return yScale(d.quadOneWins + d.quadTwoWins);
                        })
                        .attr("width", xScale.bandwidth())
                        .attr("height", function (d) {
                            return height - yScale(d.quadOneWins + d.quadTwoWins);
                        });

                    graph.selectAll(".axis")
                        .style("font-size", "8px");
                };

                this.resize = function ()
                {
                    // Find new dimensions
                    width = parseInt(d3.select("#quad-one-wins-div").style("width"));
                    height = parseInt(d3.select("#quad-one-wins-div").style("height"));

                    barWidth = (width / 2) / teamsSize;

                    graph
                        .attr("width", width);

                    yScale = d3.scaleLinear()
                        .domain([minWins * 0.90, maxWins])
                        .range([0, height]);

                    yAxis.scale(yScale);

                    bars
                        .data(teams)
                        .attr("width", barWidth)
                        .attr("x", function (d, i) {
                            return (2 * barWidth * i)
                        })
                        .attr("height", function (d) {
                            return yScale(d.quadOneWins)
                        });

                    numberLabels
                        .data(teams)
                        .attr("y", function (d) {
                            return height - (yScale(d.quadOneWins) - 10)
                        })
                        .attr("x", function (d, i) {
                            return (2 * barWidth * i) + 5;
                        });
                }
            }

        </script>
    </div>
</body>
</html>