<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout_site"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Quadrantology</title>
    <link rel="stylesheet" th:href="@{/css/team.css}">
</head>
<body>

    <div layout:fragment="content">
        <div id="header">
            <h1 id="team-title" th:text="${team.name}"></h1>
            <p id="overall-record" th:text="${'(' + team.wins + '-' + team.losses + ')'}"></p>
            <p id="rpi-rank" th:text="${'RPI: ' + team.rpiRank}"></p>
            <form th:action="@{/compare}">
                <div class="row">
                    <div class="col col-md-3">
                        <div class="form-group">
                            <input type="hidden" name="team-one" th:value="${team.urlName}">
                            <select class="form-control" id="team-select" name="team-two">
                                <option th:each="team : ${teams}" th:object="${team}" th:value="*{urlName}" th:text="*{name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <button type="submit" class="btn btn-default gray-btn">Compare</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="row">
                            <div class="col-12">
                                <p class="quadrant-title">Quadrant 1 <span th:text="${'(' + team.quadOneWins + '-' + team.quadOneLosses} + ')'"></span></p>
                                <p class="rpi-ranges">(H 1-30) (N: 1-50) (A: 1-75)</p>
                                <table class="quadrant-table table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="rpi-header" scope="col">RPI</th>
                                            <th class="team-header" scope="col">Team</th>
                                            <th class="site-header" scope="col">Site</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:each="game : ${team.games}" th:object="${game}">
                                            <tr th:if="*{quadrant == T(me.andrewosborn.model.Quadrant).ONE}">
                                                <td class="rpi-rank-col" th:text="*{opponent.rpiRank}"></td>
                                                <td><a th:text="*{opponent.name}" th:href="@{|/team/${game.opponent.urlName}|}"></a></td>
                                                <td class="site-col" th:text="*{#strings.substring(site, 0, 1)}"
                                                    th:style="*{result == T(me.andrewosborn.model.Result).W ? 'background-color: #A9FFA9' : 'background-color: #FF9999'}"></td>
                                            </tr>
                                        </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="row">
                            <div class="col-12">
                                <p class="quadrant-title">Quadrant 2 <span th:text="${'(' + team.quadTwoWins + '-' + team.quadTwoLosses} + ')'"></span></p>
                                <p class="rpi-ranges">(H: 31-75) (N: 51-100) (A: 76-135)</p>
                                <table class="quadrant-table table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="rpi-header" scope="col">RPI</th>
                                        <th class="quadrant-table-text-header" scope="col">Team</th>
                                        <th class="site-header" scope="col">Site</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="game : ${team.games}" th:object="${game}">
                                        <tr th:if="*{quadrant == T(me.andrewosborn.model.Quadrant).TWO}">
                                            <td class="rpi-rank-col" th:text="*{opponent.rpiRank}"></td>
                                            <td><a th:text="*{opponent.name}" th:href="@{|/team/${game.opponent.urlName}|}"></a></td>
                                            <td class="site-col" th:text="*{#strings.substring(site, 0, 1)}"
                                                th:style="*{result == T(me.andrewosborn.model.Result).W ? 'background-color: #A9FFA9' : 'background-color: #FF9999'}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="row">
                            <div class="col-12">
                                <p class="quadrant-title">Quadrant 3 <span th:text="${'(' + team.quadThreeWins + '-' + team.quadThreeLosses} + ')'"></span></p>
                                <p class="rpi-ranges">(H: 76-160) (N: 101-200) (A: 136-240)</p>
                                <table class="quadrant-table table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="rpi-header" scope="col">RPI</th>
                                        <th class="quadrant-table-text-header" scope="col">Team</th>
                                        <th class="site-header" scope="col">Site</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="game : ${team.games}" th:object="${game}">
                                        <tr th:if="*{quadrant == T(me.andrewosborn.model.Quadrant).THREE}">
                                            <td class="rpi-rank-col" th:text="*{opponent.rpiRank}"></td>
                                            <td><a th:text="*{opponent.name}" th:href="@{|/team/${game.opponent.urlName}|}"></a></td>
                                            <td class="site-col" th:text="*{#strings.substring(site, 0, 1)}"
                                                th:style="*{result == T(me.andrewosborn.model.Result).W ? 'background-color: #A9FFA9' : 'background-color: #FF9999'}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="row">
                            <div class="col-12">
                                <p class="quadrant-title">Quadrant 4 <span th:text="${'(' + team.quadFourWins + '-' + team.quadFourLosses} + ')'"></span></p>
                                <p class="rpi-ranges">(H: 161+) (N: 201+) (A: 241+)</p>
                                <table class="quadrant-table table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="rpi-header" scope="col">RPI</th>
                                        <th class="quadrant-table-text-header" scope="col">Team</th>
                                        <th class="site-header" scope="col">Site</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="game : ${team.games}" th:object="${game}">
                                        <tr th:if="*{quadrant == T(me.andrewosborn.model.Quadrant).FOUR}">
                                            <td class="rpi-rank-col" th:text="*{opponent.rpiRank}"></td>
                                            <td><a th:text="*{opponent.name}" th:href="@{|/team/${game.opponent.urlName}|}"></a></td>
                                            <td class="site-col" th:text="*{#strings.substring(site, 0, 1)}"
                                                th:style="*{result == T(me.andrewosborn.model.Result).W ? 'background-color: #A9FFA9' : 'background-color: #FF9999'}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</body>
</html>